<div class="jumbotron center">
	<h1>Fuck Yo Couch!</h1>
	<p>
		<%= link_to "member login", "http://google.com", class: "btn btn-primary" %>
		<%= link_to "join the club", "http://google.com", class: "btn btn-primary" %>
	</p>
</div>
